###############################################################################
############################# Winlogbeat ######################################

#======================= Winlogbeat specific options ==========================

winlogbeat.event_logs:
  - name: Application
    ignore_older: 72h
    tags: ["server"]
  - name: System
    ignore_older: 72h
    tags: ["server"]
  - name: Security
    event_id: -5156, -5158, -4656, -4658, -4663, -4690, -4703
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-TaskScheduler/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-PowerShell/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-CAPI2/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-CodeIntegrity/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-DNS-Client/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-DNS Client Events/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-Windows Remote Management/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-DriverFrameworks-UserMode/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-ReadyBoost/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-ReadyBoostDriver/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-DeviceSetupManager/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-Bits-Client/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-WLAN-AutoConfig/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-GroupPolicy/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-WMI-Activity/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-WLAN-AutoConfig/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-SMBClient/Connectivity
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-SMBClient/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-SMBClient/Security
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-SMBServer/Connectivity
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-SMBServer/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-SMBServer/Security
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-TerminalServices-RemoteConnectionManager/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-TerminalServices-RemoteConnectionManager/Admin
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-TerminalServices-LocalSessionManager/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-TerminalServices-LocalSessionManager/Admin
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-TerminalServices-ClientUSBDevices/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-TerminalServices-ClientUSBDevices/Admin
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-TerminalServices-ServerUSBDevices/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-TerminalServices-ServerUSBDevices/Admin
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-TerminalServices-RDPClient/Operational
    ignore_older: 72h
    tags: ["server"]
  - name: Microsoft-Windows-Sysmon/Operational
    ignore_older: 72h
    tags: ["server"]

winlogbeat.registry_file: {{ winlogbeat_registry_file }}

#----------------------------- Logstash output --------------------------------

output.logstash.hosts: {{ winlogbeat_output_logstash_hosts | to_json }}
output.logstash.loadbalance: true
output.logstash.index: winlogbeat

#================================ Logging =====================================

logging.level: "{{ winlogbeat_log_level }}"
logging.to_files: true
logging.to_syslog: false
logging.metrics.enabled: true
logging.metrics.period: 5m
logging.files.path: {{ winlogbeat_logs_dir }}
logging.files.rotateeverybytes: 10485760
logging.files.keepfiles: 7
