###############################################################################
############################# Winlogbeat ######################################

#======================= Winlogbeat specific options ==========================
{% if winlogbeat_event_logs %}
winlogbeat.event_logs:
 {% for event in winlogbeat_event_logs %}
 - name: {{ event }}
    ignore_older: 72h
    tags: ["server"]
 {% endfor %}
{% endif %}

winlogbeat.registry_file: {{ winlogbeat_registry_file }}

#----------------------------- Logstash output --------------------------------

output.logstash.hosts: {{ winlogbeat_output_logstash_hosts | to_json }}
output.logstash.loadbalance: true
output.logstash.index: winlogbeat

#================================ Logging =====================================

logging.level: "{{ winlogbeat_log_level }}"
logging.to_files: true
logging.to_syslog: false
logging.metrics.enabled: true
logging.metrics.period: 5m
logging.files.path: {{ winlogbeat_logs_dir }}
logging.files.rotateeverybytes: 10485760
logging.files.keepfiles: 7
